@import 'bootstrap/dist/css/bootstrap';

.navbar {

background-color: rgb(32, 109, 180) !important;

}

 

.navbar-brand {

font-size: 2rem;

}

.alert {
  margin-top: 30px;
}

h1 {

color: gray;
margin-top: 15px;

}